html{background-image: url("bg.jpg");
background-size: 100% auto;
} 
.topnav {background-color: black;
}
.portbtn{
  max-width: 500px;
  height: 300px;
  width: 300px;
  font-size:35px;
  font-family: "courier", "monospace";
  margin-right: 10%;
  margin-left: 15%;
  position: absolute;
  border:solid;
  border-radius:10px;
}
.portbtn:hover{
  font-size:40px;
  background: rgb(238, 230, 255);
}
.Aboutbtn{
  max-width: 500px;
  height:300px;
  width: 300px;
  font-size: 35px;
  font-family: "courier", "monospace";
  margin-left: 40%;
  margin-right: 40%;
  position: absolute;
  border: solid;
  border-radius: 10px;
}
.Aboutbtn:hover{
  font-size:40px;
  background: rgb(238, 230, 255);
}
.contactbtn{
  max-width: 500px;
  height:300px;
  width: 300px;
  font-size: 35px;
  font-family: "courier", "monospace";
  position: absolute;
  margin-right: 15%;
  margin-left: 75%;
  border: solid;
  border-radius: 10px;
}
.contactbtn:hover{
  font-size:40px;
  background: rgb(238, 230, 255);
}
.box{border: 5px double rgba(23,10,.45);
margin-left: 200px;
margin-right: 200px;
background: hsl(0, 0%, 100%, .3)
}
